### importing libraries

In [67]:
import pandas as pd
import numpy as np
import json
import os.path
from os import path

### reading data from json file

In [68]:
with open('WLASL.json') as data_file:    
    data = json.load(data_file)  

df = pd.json_normalize(data, 'instances', ['gloss'], record_prefix='gloss_')
df.head()

,gloss_bbox,gloss_fps,gloss_frame_end,gloss_frame_start,gloss_instance_id,gloss_signer_id,gloss_source,gloss_split,gloss_url,gloss_variation_id,gloss_video_id,gloss
0,"[385, 37, 885, 720]",25,-1,1,0,118,aslbrick,train,http://aslbricks.org/New/ASL-Videos/book.mp4,0,69241,book
1,"[190, 25, 489, 370]",25,-1,1,1,90,aslsignbank,train,https://aslsignbank.haskins.yale.edu/dictionar...,0,65225,book
2,"[262, 1, 652, 480]",25,-1,1,2,110,valencia-asl,train,https://www.youtube.com/watch?v=0UsjUE-TXns,0,68011,book
3,"[123, 19, 516, 358]",25,60,1,3,113,lillybauer,train,https://www.youtube.com/watch?v=1QOYOZ3g-aY,0,68208,book
4,"[95, 0, 1180, 720]",25,-1,1,4,109,valencia-asl,train,https://www.youtube.com/watch?v=aGtIHKEdCds,0,68012,book

### printing shape of data before preprocessing and removing expired videos

In [69]:
df.shape

(21083, 12)

### removing rows containing expired video url after preprocessing

In [70]:
for i in df['gloss_video_id']:
    if(str(path.exists('videos/'+str(i)+'.mp4'))== 'False'):
        df.drop(df[df['gloss_video_id'] == i].index, inplace = True)

In [71]:
df.shape

(7541, 12)

### dropping the columns we wont be needing

In [73]:
columns = ['gloss_variation_id','gloss_url','gloss_source','gloss_signer_id','gloss_frame_start','gloss_frame_end','gloss_fps']
df.drop(columns, inplace=True, axis=1)

In [74]:
df.head()

             gloss_bbox  gloss_instance_id gloss_split gloss_video_id gloss
0   [385, 37, 885, 720]                  0       train          69241  book
1   [190, 25, 489, 370]                  1       train          65225  book
10  [462, 44, 949, 720]                 10       train          07069  book
17  [234, 17, 524, 414]                 17       train          07068  book
22  [131, 26, 526, 480]                 22       train          07070  book

### saving final dataset to csv file

In [77]:
df.to_csv('data.csv', index = True)