In [1]:
import keras
from keras.models import Sequential
from keras.applications.vgg16 import VGG16
from keras.layers import Dense, InputLayer, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, GlobalMaxPooling2D
from keras.preprocessing import image
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('train_new.csv')
train

                   image        class
0       11037_frame2.jpg        clean
1       55854_frame0.jpg       sunset
2      03056_frame11.jpg  appointment
3       34733_frame2.jpg          man
4       65117_frame3.jpg         away
...                  ...          ...
36476   28145_frame1.jpg         hour
36477   40996_frame0.jpg        pants
36478   25976_frame3.jpg       guitar
36479   11621_frame1.jpg         cold
36480   13313_frame5.jpg       corner

[36481 rows x 2 columns]

In [3]:
img=train['image']
img_lst=[]
for i in img:
    if(len(str(str(i).split('_')[0]))==5):
        img_lst.append(str(i))
    elif(len(str(str(i).split('_')[0]))==4):
        img_lst.append('0'+str(i))
    elif(len(str(str(i).split('_')[0]))==3):
        img_lst.append('00'+str(i))
train['images']=img_lst
train=train.drop(['image'],axis = 1)
train

             class             images
0            clean   11037_frame2.jpg
1           sunset   55854_frame0.jpg
2      appointment  03056_frame11.jpg
3              man   34733_frame2.jpg
4             away   65117_frame3.jpg
...            ...                ...
36476         hour   28145_frame1.jpg
36477        pants   40996_frame0.jpg
36478       guitar   25976_frame3.jpg
36479         cold   11621_frame1.jpg
36480       corner   13313_frame5.jpg

[36481 rows x 2 columns]

In [5]:
# creating an empty list
train_image = []

# for loop to read and store frames
for i in tqdm(range(2500)):
    # loading the image and keeping the target size as (224,224,3)
    img = image.load_img('train_1/'+train['images'][i], target_size=(224,224,3))
    # converting it to array
    img = image.img_to_array(img)
    # normalizing the pixel value
    img = img/255
    # appending the image to the train_image list
    train_image.append(img)
    
# converting the list to numpy array
#X = np.array(train_image)

# shape of the array
#X.shape

100%|██████████| 2500/2500 [00:43<00:00, 58.09it/s]

In [6]:
# for loop to read and store frames
for i in tqdm(range(2500,5000)):
    # loading the image and keeping the target size as (224,224,3)
    img = image.load_img('train_1/'+train['images'][i], target_size=(224,224,3))
    # converting it to array
    img = image.img_to_array(img)
    # normalizing the pixel value
    img = img/255
    # appending the image to the train_image list
    train_image.append(img)
    
# converting the list to numpy array
#X = np.array(train_image)

# shape of the array
#X.shape

100%|██████████| 2500/2500 [01:10<00:00, 35.63it/s]

In [7]:
# for loop to read and store frames
for i in tqdm(range(5000,8000)):
    # loading the image and keeping the target size as (224,224,3)
    img = image.load_img('train_1/'+train['images'][i], target_size=(224,224,3))
    # converting it to array
    img = image.img_to_array(img)
    # normalizing the pixel value
    img = img/255
    # appending the image to the train_image list
    train_image.append(img)
    
# converting the list to numpy array
#X = np.array(train_image)

# shape of the array
#X.shape

100%|██████████| 3000/3000 [01:45<00:00, 28.32it/s]

In [ ]:
# for loop to read and store frames
for i in tqdm(range(8000,11000)):
    # loading the image and keeping the target size as (224,224,3)
    img = image.load_img('train_1/'+train['images'][i], target_size=(224,224,3))
    # converting it to array
    img = image.img_to_array(img)
    # normalizing the pixel value
    img = img/255
    # appending the image to the train_image list
    train_image.append(img)
    
# converting the list to numpy array
#X = np.array(train_image)

# shape of the array
#X.shape

 92%|█████████▏| 2768/3000 [04:20<00:35,  6.57it/s]

In [10]:
train.shape[0]

36481

In [ ]:
33981
31481